page-home {
    .langSelect{
        width: 170px;
        max-width: 170px;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 10px;
        float: right;
        .select-text{
            width: 88%;
            min-width: 88%;
            color: #fff;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;
        }
        .select-icon{
            .select-icon-inner{
                color: #fff;
            }
        }
    }
    .title{
        color:#fff;
        font-size: 18px !important;
    }
}
