<ion-header>
  <ion-navbar>
    <ion-title>{{"home" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<!--<ion-content padding>
    <ion-select [(ngModel)]="tlanguage"  interface="popover" >
        <ion-option value="" disabled selected>select language</ion-option>
        <ion-option *ngFor="let p of laguagelist" value="{{p.value}}" (ionSelect)="multiLangSel()">{{p.name}}</ion-option>   
     </ion-select> 
  <ion-card>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Victoria_Memorial_Kolkata_panorama.jpg/1100px-Victoria_Memorial_Kolkata_panorama.jpg"/>
      <ion-card-content>
        <ion-card-title>
            <strong>{{"welcome" | translate }}</strong>
          </ion-card-title>
          <p>
            {{"text" | translate }}
            </p>
      </ion-card-content>
    </ion-card>
</ion-content>-->

<ion-content padding class="pincodeContent mainBackground">
   <ion-grid>
     <ion-row>
       <ion-col offset-5>
          <ion-select [(ngModel)]="tlanguage"  interface="popover" class="langSelect">
            <ion-option value="" disabled selected>select language</ion-option>
            <ion-option *ngFor="let p of laguagelist" value="{{p.value}}" (ionSelect)="multiLangSel()">{{p.name}}</ion-option>
          </ion-select>
       </ion-col>
     </ion-row>
   </ion-grid>
  <ion-card>
    <ion-card-content>
      
      <ion-list class="formList">
        <button ion-button (click)="test()">Default</button>
 
        <img src="{{url}}" alt="logo"/>

          <ion-item>
            <ion-label stacked class="title" >{{"Heart_rate" | translate}}</ion-label>
            <ion-input type="text" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked class="title">{{"SPO2" | translate}}</ion-label>
            <ion-input type="text" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked class="title">{{"Respiratory rate" | translate}}</ion-label>
            <ion-input type="text" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked class="title">{{"Blood pressure" | translate}}</ion-label>
            <ion-input type="text" readonly></ion-input>
          </ion-item>
        </ion-list>

    </ion-card-content>
  </ion-card>
    
</ion-content>

