// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #4a7c88;;
    box-shadow : 0px 0px 3px rgba(43, 88, 99, 0.6);
}
.innerpageContent ion-list ion-item.input-has-focus.item-input-has-focus .item-inner{}
.menu-inner{
    width: 210px;
}
.errorMessage{
    color: #ff0000;
}
ion-header:after{
    background-image: none !important;
    height: 0px !important;
}
ion-footer::before{
    height: 0px !important;
    background-image: none !important;
}
textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    opacity: 0;
}
textarea:focus:-moz-placeholder, input:focus:-moz-placeholder {
    opacity: 0;
}
textarea:focus:-ms-input-placeholder, input:focus:-ms-input-placeholder {
    opacity: 0;
}
textarea:focus::-ms-input-placeholder, input:focus::-ms-input-placeholder {
    opacity: 0;
}
ion-header{
    ion-navbar.toolbar{
        .toolbar-background{
            /*background:#009081;*/
            background: #3D737F;
        }
        button{
            color: #baced2;
        }
        .title{
            .toolbar-title{
                color: #fbfcfc;
                text-align: center;
                font-size: 19px;
                font-weight: normal;
                span{
                    font-weight: lighter;
                }
            }
        }
    }
}
ion-header:after{
    background: none;
    height: 0px;
}
.mainBackground{
    background:#3d737f
}
.mainDiv{
    width: 100%;
    height: 100%;
    display: table;
    .childDiv{
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }
}
.elasticTeaxareaItem{
    ion-label{
        display: block;
        margin-bottom: 4px !important;
    }    
}

.pincodeContent{
    ion-card{
        background: none;
        box-shadow: none;
        text-align: center;
        ion-card-content{
            width: 90%;
            margin: 0px auto;
        }
        img.startupLogo{
            width: 100px;
            margin: 20px auto;
        }
        h2{
            color: #fff;
            font-size: 20px;
        }
        p{
            width: 90%;
            margin: 10px auto;
            font-size: 15px;
            color: #d0dde0;
            font-weight: lighter;
        }
        ion-input{
            position: relative;
            margin: 0px;
            color: #fff;
            font-size: 16px;
            input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: #fff;
                opacity: 0.4;
            }
            input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:#fff;
                opacity: 0.4;
            }
            input::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:#fff;
                opacity: 0.4;
            }
            input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:#fff;
                opacity: 0.4;
            }
            input::-ms-input-placeholder { /* Microsoft Edge */
                color:#fff;
                opacity: 0.4;
            }
        }
        ion-input:after{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: #4a7c88;
            height: 2px;
            box-shadow: 0px 0px 3px rgba(43, 88, 99, 0.6);
        }
        button{
            display: block;
            width: 120px;
            margin: 40px auto;
            background: #009688;
            border-radius: 2px;
            text-transform: uppercase;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            height: 32px;
        }
        button.activated, button.active, button.button-md:hover:not(.disable-hover){
            background: #009688;
        }        
        a{
            font-size: 14px;
            display: block;
            color: #81cdc6;
            margin-top: 25%;
        }
    }
    ion-list.formList{
        ion-item{
            background: none;
            border-top: none !important;
            padding-left: 0px;
            .item-inner{
                padding-right: 0px;
            }
        }
        ion-item.item-md.item-input.input-has-focus .item-inner, 
        ion-item.item-md.item-input.item-input-has-focus .item-inner, 
        ion-item.list-md .item-input.input-has-focus:last-child, 
        ion-item.list-md .item-input.item-input-has-focus:last-child{
            //border-bottom: none;
            //box-shadow: none;
        }
    }
}

.innerpageContent{
    ion-list{
        margin-top: 10px;
        ion-item{
            border: none !important;
            padding-left: 0px;
            margin-bottom: 10px;
            .item-inner{
                border-bottom: 2px solid #ececec !important;
                ion-label{
                    color: #777;
                    font-size: 13px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    sup{
                        color: #ff6969;
                    }
                }
                .calenderBtnInput{
                    width: 100%;
                    background: none;
                    box-shadow: none;
                    border: none;
                    text-align: left;
                    color: #000;
                    display: block;
                    padding: 0px;
                    margin: 0px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 16px;
                    font-weight: normal;
                    .button-inner{
                        display: block;
                    }
                }
                textarea, input{
                    color: #000;
                    width: 100%;
                    resize: none;
                    border: none;
                    font-size: 16px;
                }
                textarea{
                    padding: 0px;
                }
                textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color:    #000;
                    opacity: 0.4;
                }
                textarea:-moz-placeholder, input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color:    #000;
                    opacity: 0.4;
                }
                textarea::-moz-placeholder, input::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color:    #000;
                    opacity: 0.4;
                }
                textarea:-ms-input-placeholder, input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color:    #000;
                    opacity: 0.4;
                }
                textarea::-ms-input-placeholder, input::-ms-input-placeholder { /* Microsoft Edge */
                    color:    #000;
                    opacity: 0.4;
                }                
                ion-textarea, ion-select, ion-datetime{
                    color: #000;
                    /*opacity: 0.4;*/
                }                
                ion-select{
                    font-size: 16px;
                    padding-top: 0px;
                    .select-icon{
                        display: none;
                    }
                }
                ion-datetime{
                    padding-left: 0px;
                }
            }
        }
        ion-item.labelStacked{
            margin-bottom: 0px;
            ion-label{
                /*margin-bottom: 0px;*/
                margin-right: 0px;
                h3{
                    color: #777;
                    font-size: 13px;
                    margin-top: 1px;
                    margin-bottom: 10px;
                    position: relative;
                    sup{
                        color: #ff6969;
                    }
                }                
            }
            .item-inner{
                border-bottom: 0px solid #ececec !important;
                padding-right: 0px;
            }
            input{
                border-bottom: 2px solid #ececec;
                padding-bottom: 6px;
            }
            input:focus{
                border-bottom: 2px solid #099a8c !important;
                padding-bottom: 6px;
                position: relative;
                width: 100%;
                left: 0px;
                bottom: 0px;
                z-index: 555;
                color: #000;
            }
        }
        
        ion-item.item-input-has-focus .label-md[stacked], 
        ion-item.input-has-focus .label-md[stacked], 
        ion-item.item-input-has-focus .label-md[floating], 
        ion-item.input-has-focus .label-md[floating]{
            color: #777;
        }
        ion-item.input-has-focus.item-input-has-focus{
            .item-inner{
                border-bottom: 2px solid #099a8c !important;
            }
        }
    }
    ion-footer{
        padding: 16px;
        background: #fff;
        ion-grid, ion-col{
            padding: 0px !important;
        }
        button{
            color: #009081 !important;
            height: 32px !important;
            text-transform: uppercase !important;
            text-align: left !important;
            padding: 0px !important;
            width: 100% !important;
            margin: 0px !important;
            line-height: 32px !important;
            border-radius: 2px !important;
            .button-inner{
                display: block;
                width: 100%;
            }
        }
        button.backBtn{

        }
        button.nextBtn{
            background: #009081;
            color: #fff !important;
            text-align: center !important;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
    ion-footer:before{
        height: 0px;
        background-image: none;
    }
}
.innerSummaryPagecontent{
    ion-list{
        margin-top: 10px;
        ion-item{
            h6{
                font-size: 1.2rem;
                margin: 11px 8px 4px 0 !important;
            }
            h5{
                margin-left: 0;
                margin-top: 8px;
                margin-bottom: 8px;
                width: calc(100% - 8px);
                font-size: 16px;
                color: #000;
            }
            .item-inner{
                border-bottom: none !important;
            }
        }
    }
}
.innerpageContent.innerSummaryPagecontent{
    ion-list{
        .item-inner{
            ion-label{
                margin: 0px 8px 0px 0px!important
            }
        }
    }
}
.submissionPageContent{
    ion-card{
        width: 100%;
        margin: 10px auto;
        box-shadow: none;
        ion-card-content{
            p{
                font-size: 16px;
                color: #393939;
                line-height: 22px;
            }
            button{
                display: block;
                width: 100px;
                margin: 40px auto;
                background: #009688;
                border-radius: 2px;
                text-transform: uppercase;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
                height: 32px;
            }
            button.activated{
                background: #009688;
            }
        }
    }
}


/*  End Common Part  */

.sideMenuContent{
    .logoBlock{
        width: 100%;
        background: #3d737f;
        padding: 5% 0;
        text-align: center;
        .item-inner{
            border-bottom: none !important;
        }
        img{
            width: 60%;
            margin: 0px auto;
        }
    }
    ion-list{
        padding: 20px;
        ion-item, button.item{
            border: none !important;
        }
    }
    ion-list.userDetailList{
        background: #ea4d1d;
        margin-bottom: 0px;
        color: #fff;
        ion-item{
            background: none;
            padding-left: 0px;
            ion-avatar{
                img{
                    border-radius: 0px;
                }
            }
        }
        h3, h2{
            font-size: 16px;
            margin: 0px;
            font-weight: normal;
            color: #fff;
        }
        p{
            font-weight: lighter;
            margin: 5px 0 0 0;
            color: #fff;
            font-size: 14px;
        }
    }
    ion-list.menuList{
        button.item{
            padding-left: 0px;
            .item-inner{
                border: none !important;
                background: none;
                padding-right: 0px;
                font-size: 15px;
                font-weight: bold;
            }
        }
        button.item.active, button.item.activated{
            color: #327bf3;
            background: none;
        }
    }
    ion-footer{
        padding: 20px;
        h4{
            font-size: 12px;
            font-weight: bold;
            margin: 0px;
        }
        p{
            margin: 5px 0 0 0;
            font-size: 10px;
            color: #9a9a9a;
            a{
                color: #9ebff6;
            }
        }
    }
}